/* src/css/app.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .Apps {
    display: flex;
  }
  
  .main-content {
   
   /* Adjust according to Sidebar width */
    padding: 16px;
    flex: 1;
  }
.header{
  
  padding: 20px;
}
  .header h1 {
    font-family:'Times New Roman', Times, serif;
    color: brown;
    font-size: 2.5rem;
    margin-left: 41%; /* You can adjust this value or remove it if not needed */
  }
  .card-container {
    margin-left:470px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    
  }

  
 