.googleSlide {
    font-family: sans-serif;
    text-align: center;
    height:300px;
    width:450px;
  }
  .googleSpreadsheet {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  
  